@charset "utf-8";

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    color: #666;
}

.loginTable { border: 1px solid #900; }

.loginTableHeader {
    background-color: #930;
    font-size: x-large;
    color: #FFF;
}

.addressTable { border: 1px solid #666; }

.addressTableHeader {
    background-color: #CCC;
    font-size: large;
    color: #930;
}

.inputFullSize {
    width: 98%;
    padding-left: 2px;
}

.underlineDashed {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCC;
}

.errorMsg {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    color: #F00;
    font-size: medium;
}

.trDashedUL {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCC;
}

.inactiveLink { color: #999; }

input[type=text], input[type=password],select {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 12px;
    border: 1px solid #09C;
}
.input{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 12px;
    border: 1px solid #09C;
}
.inputOff{
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 12px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.likeLink { cursor: pointer; }
